main {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#appbar {
  display: none;
}
.expand #appbar {
  display: flex;
}

.backdrop {
  width: 0;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0;
  background: #000;
  transition: background 1s, opacity 0.4s, width 0s 0.4s;
}

.show-backdrop .backdrop {
  width: 100vw;
  opacity: 0.7;
  z-index: 999;
  transition: background 1s, opacity 0.4s, width 0s;
}
.show-backdrop.form-submitted .backdrop {
  background: #119da4;
  transition: background 0.6s;
}

#main-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5vh;
  margin: 0 auto;
  cursor: pointer;
  z-index: 1000;
  background-color: #fff;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.2s 0.45s, height 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.25s,
    max-width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.35s,
    width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.35s;
  border-radius: 10px;
  width: 60px;
  height: 60px;
}
#main-container.expand {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  bottom: 0;
  cursor: auto;
  transition: all 0.2s, max-width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.1s,
    height 0.3s ease 0.25s;
  padding: 10px 10px;
  box-shadow: -20px 20px 50px -20px rgba(0, 0, 0, 0.3);
  border: 10px solid #ff9a8b;
}

#form-open:hover {
  animation: wiggle 0.1s linear infinite;
}

#form-open {
  display: inline-block;
}

#form-close {
  display: none;
  float: right;
  position: relative;
  cursor: pointer;
  z-index: 2;
}

.expand#form-open {
  display: none;
}

.expand#form-close {
  display: inline-block;
  animation: none;
}

#main-content {
  transform: translateY(150%);
  opacity: 0;
  text-align: left;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s 0.2s;
}
#main-content.expand {
  /* position: absolute; */
  /* top: 50px; */
  width: 90%;
  height: 100%;
  margin: auto;
  transform: translateY(0px);
  opacity: 1;
  transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1) 0.3s, opacity 0s;
}

@media (min-width: 961px) {
  #main-container.expand {
    width: 90%;
    height: 92%;
    /* max-width: 610px; */
    /* margin-bottom: 50px; */
  }
}
